#quadro{
	width:305px;
	height:205px;
	background:#d2faff url(imagens/fundo.png);
	font-family:"Trebuchet MS";
	color:#002ba7;
	padding:10px;
}

#quadro h1{
	font-size:13px;
	margin:0px;
}

#quadro first-line h1{
	font-size:20px;
}

#quadro ul{
	font-size:12px;
	padding:18px;
	margin:15px 0px 10px 0px;
	float:left;
	list-style-image: url(imagens/marcador.png);
}

.de{
	font-size:12px;
	margin:0px;
}

#.or{
	font-size:12px;
	color:#c30000;
	margin:0px;
	float:left;
}

.valor{
	font-size:30px;
	color:#c30000;
	margin:0px;
	float:left;
	font-weight:bold;
}

.valor span{
	font-size:15px;
}

